<!-- Mobile Navigation Shell -->
<nav class="md:hidden fixed bottom-0 left-0 right-0 bg-surface-container-lowest/80 backdrop-blur-xl border-t-0 flex justify-around items-center py-4 px-6 z-50">
  <a class="flex flex-col items-center gap-1 text-[#ba0023]" href="#">
    <span class="material-symbols-outlined" data-icon="catching_pokemon" style="font-variation-settings: 'FILL' 1;">capture</span>
    <span class="font-label text-[8px] tracking-widest uppercase">Pokedex</span>
  </a>
  <a class="flex flex-col items-center gap-1 text-zinc-400" href="#">
    <span class="material-symbols-outlined" data-icon="Electric_bolt">electric_bolt</span>
    <span class="font-label text-[8px] tracking-widest uppercase">Moves</span>
  </a>
  <a class="flex flex-col items-center gap-1 text-zinc-400" href="#">
    <span class="material-symbols-outlined" data-icon="backpack">backpack</span>
    <span class="font-label text-[8px] tracking-widest uppercase">Items</span>
  </a>
  <a class="flex flex-col items-center gap-1 text-zinc-400" href="#">
    <span class="material-symbols-outlined" data-icon="explore">explore</span>
    <span class="font-label text-[8px] tracking-widest uppercase">Map</span>
  </a>
</nav>
